<h1>Editar producto</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Ver detalle del producto", @product, class: 'btn btn-info' %> 
  <%= link_to "Regresar al listado de productos", products_path, class: 'btn btn-info' %>
</div>
